<h1>Shelters</h1>

<a href='/shelters/new'>New Shelter</a><br><br>

<% @shelters.each do |shelter| %>
    <h3><a href="/shelters/<%= shelter.id %>"><%= shelter.name %></a></h3>
    <p>Address: <br><%= shelter.address %><br>
      <%= shelter.city %>, <%= shelter.state %> <%= shelter.zip %></p>
<% end %>
