<h1>Create a new Shelter</h1>

<%= link_to 'Pets', '/pets' %><br>
<%= link_to 'Shelters', '/shelters' %><br><br>

<%= form_tag '/shelters' do %>
  <%= label_tag :name %>
  <%= text_field_tag :name %><br/><br/>
  <%= label_tag :address %>
  <%= text_field_tag :address %><br/><br/>
  <%= label_tag :city %>
  <%= text_field_tag :city %><br/><br/>
  <%= label_tag :state %>
  <%= text_field_tag :state %><br/><br/>
  <%= label_tag :zip %>
  <%= text_field_tag :zip %><br/><br/>
  <%= submit_tag 'New Shelter' %>
<% end %>
