<h1><%= @shelter.name %></h1>

<p>Address: <br><%= @shelter.address %><br>
  <%= @shelter.city %>, <%= @shelter.state %>, <%= @shelter.zip %></p>

<%= link_to 'Update Shelter', "/shelters/#{@shelter.id}/edit" %>
<br/>
<a href="/shelters/<%= @shelter.id %>/delete">Delete Shelter</a>
