<!DOCTYPE html>
<html lang="en">
<head>
<title>Shelters</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<div class="topnav">
  <a href="/pets">Pets</a>
  <a href="/shelters">Shelters</a>
</div>

<div class="content">
  <h1><%= @shelter.name %></h1>
  <h3><%= link_to 'Pets at this Shelter', "/shelters/#{@shelter.id}/pets" %></h3>
  <h3><%= link_to 'Add a Review!', "/shelters/#{@shelter.id}/reviews/new" %></h3><br><br>
  <p>Address: <br><%= @shelter.address %><br>
    <%= @shelter.city %>, <%= @shelter.state %>, <%= @shelter.zip %></p>
  <p class="update"><%= link_to 'Update Shelter', "/shelters/#{@shelter.id}/edit" %></p>
  <p class="delete"><%= link_to 'Delete Shelter', "/shelters/#{@shelter.id}/delete" %></p>
  <p>Reviews:</p><br>
  <div class="content">
    <% @shelter.reviews.each do |review| %>
      <%= review.user_name %><br>
      <%= "Rating: #{review.rating}" %><br>
      <%= review.title %><br>
      <%= image_tag "#{review.picture}" %><br>
      <%= review.content %><br><br>
    <% end %>
  </div>
</div>

</body>

</html>
