<!DOCTYPE html>
<html lang="en">
<head>
<title>Applications</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<div class="topnav">
  <a href="/pets">Pets</a>
  <a href="/shelters">Shelters</a>
</div>

<div class="content">

<h1>Application Number: <%= @application.id %></h1>
<h3>Applicant Name: <%= @application.find_user(@application.user_id).name %></h3>
<p> Applicant Address: <br><%= @application.find_user(@application.user_id).street_address %><br>
 <%= @application.find_user(@application.user_id).city %>,
 <%= @application.find_user(@application.user_id).state %>
 <%= @application.find_user(@application.user_id).zip %></p>
<p>Description: <%= @application.description %></p>
<p>Pet Names:</p>
  <% @application.pets.each do |pet| %>
    <p><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></p>
  <% end %>
<p>Status: <%= @application.status %></p>
<h3>Add a Pet to this Application</h3>
<h4>Search for Pets:</h4>
  <%= form_tag("/applications/#{@application.id}", method: :get) do %>
    <%= label_tag :search, "Pet Name" %><br>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag ("Search") %>
  <% end %>
</div>

<div class="search-pets">
  <% if !@pets.nil? %>
    <% @pets.each do |pet| %>
      <ul>
        <li><%= pet.name %></li>
      </ul>
    <% end %>
  <% end %>
</div>

</body>

</html>
