<!DOCTYPE html>
<html lang="en">
<head>
<title>Shelters</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<div class="topnav">
  <a href="/pets">Pets</a>
  <a href="/shelters">Shelters</a>
</div>

<div class="content">
  <h1>Update Pet Information</h1>
  <%= form_tag "/pets/#{params[:id]}", method: :patch do %>
      <%= label_tag :name %>
      <%= text_field_tag :name, @pet.name %><br/><br/>
      <%= label_tag :description %>
      <%= text_field_tag :description, @pet.description %><br/><br/>
      <%= label_tag :age %>
      <%= text_field_tag :age, @pet.age %><br/><br/>
      <%= label_tag :sex %>
      <%= text_field_tag :sex, @pet.sex %><br/><br/>
      <%= label_tag :image %>
      <%= text_field_tag :image, @pet.image %><br/><br/>
      <%= submit_tag 'Update Pet' %>
    <% end %>
</div>

</body>

</html>
