<!DOCTYPE html>
<html lang="en">
<head>
<title>Shelters</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<div class="topnav">
  <a href="/pets">Pets</a>
  <a href="/shelters">Shelters</a>
</div>

<div class="content">
<h1><%= @user.name %></h1>
<p>Average Rating: <%= @user.average_rating %></p>
<p>Address: <br><%= @user.street_address %><br>
  <%= @user.city %>, <%= @user.state %>, <%= @user.zip %></p>
</div>

<% if @user.reviews.count >= 2 %>
  <div id="highlights", class="content">
    <h2>Review Highlights</h2>
    <h3>Highest rated:</h3>
    <% @user.highest_rating.find do |review| %>
    <p>Title: <%= review.title %></p>
    <p>Rating: <%= review.rating %></p>
    <p>Review: <%= review.content %></p>
    <img src="<%= review.picture %>" alt="review photo" class="responsive"><br><br>
    <% end %>
    <h3>Lowest rated:</h3>
    <% @user.lowest_rating.find do |review| %>
    <p>Title: <%= review.title %></p>
    <p>Rating: <%= review.rating %></p>
    <p>Review: <%= review.content %></p>
    <img src="<%= review.picture %>" alt="review photo" class="responsive"><br><br>
    <% end %>
  </div>
  <% else %>
<% end %>

<div class="content">
<h3>All Reviews by <%= @user.name %>:</h3>
<h3><% @user.reviews.each do |user| %></h3>
  <p>Title: <%= user.title %></p>
  <p>Rating: <%= user.rating %></p>
  <p>Review: <%= user.content %></p>
  <img src="<%= user.picture %>" alt="user photo" class="responsive"><br><br>
<% end %>
</div>

</body>

</html>
